# Copy to .env and fill in values.
TARGETAI_API_KEY=
TARGETAI_BASE_URL=https://app.targetai.ai
TARGETAI_AGENT_UUID=3ed59436-8350-4672-a0dd-55548c01dd38
TARGETAI_RESPONSE_MEDIUM=chat
TARGETAI_CONNECTION_TIMEOUT=60
TARGETAI_TURN_TIMEOUT=90
